.page-header
  %h1 Listing tweets

.table-responsive
  %table.table.table-striped.table-bordered.table-hover


    %tbody
      - @tweets.each do |tweet|
        %tr
          %td
            %p
              = tweet.username
              = distance_of_time_in_words_to_now(tweet.created_at)
              ago
            %p
              = tweet.text
